html, body {
  min-height: 100%;
  
}

body {
  font-family: "Overpass", sans-serif; 
  background: hsl(216, 12%, 8%);
  background-image: -webkit-linear-gradient(135deg, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  background-image: linear-gradient(-45deg, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  color:white;
}
@font-face {
  font-family: Overpass;
  src: url(https://fonts.google.com/specimen/Overpass);
}
.main {
  width: 80%;
  max-width: 420px;
  margin: 50px auto;
  padding: 1.3em;
  background: #1f2630;
  border-radius: .75em;
  -webkit-filter: drop-shadow(1px 2px 5px rgba(0,0,0,.3));
  filter: drop-shadow(1px 2px 5px rgba(0,0,0,.3));
  box-shadow: 
    0 2px 2px rgba(255, 153, 0, 0.5),  /* Orange */
    0 0px 5px rgba(255, 153, 0, 0.15),  /* Orange */
    0 0px 4px rgba(14, 20, 28, 0.35),  /* Very Dark Blue */
    0 5px 20px rgba(255, 153, 0, 0.25),  /* Orange */
    0 15px 50px rgba(255, 153, 0, 0.75),  /* Orange */
    inset 0 0 15px rgba(255, 255, 255, 0.05);  /* White */
}

.star-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #272e38;
  overflow: hidden;
}

.star-icon img {
  width: 14px;
  height: 14px;
  object-fit: cover;
}

p {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  font-weight: 400;
}

.rb {
  padding: 16px 0;
  text-align: center;
  border-radius: .3em;
  display: flex;
  justify-content: space-around;
  /* background-color: #673d3d; */

}

.rb-tab {
  position: relative;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rb-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #FFFFFF;
  font-weight: 400;
}

.rb-spot {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  background: #272e38;
  border-radius: 100%;
  cursor: pointer;
  transition: ease .5s;
  /* flex-shrink: 1; */
}
.rb-tab-active .rb-spot{
  background:hsl(0, 0%, 100%) ;
  
}
.rb-tab-active .rb-txt{
  color: hsl(216, 12%, 8%);
  
}
.rb-tab:hover{
  .rb-spot{
    background: hsl(25, 97%, 53%);
    
    
  }
  .rb-txt{
    color: hsl(216, 12%, 8%);
  }
}


.button-box {
  padding: 10px 0;
  text-align: center;
}

button {
  display: inline-block;
  width: 80%;
  margin-top: 1.2em;
  font-weight: 700;
  padding: 1em;
  max-width: 220px;
  font-size: 15px;
  color: hsl(213, 19%, 18%);
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  border: none;
  outline: none;
  border-radius: 5em;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: 
    color 0.6s, 
    box-shadow 0.3s, 
    transform 0.3s;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
  color: hsl(25, 97%, 53%);
}
/* thanks page css here */
#phoneimg{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container{
  
  width: fit-content;
  padding: 0.1px 20px;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  text-align: center;
  background-color: #272e38;
  border-radius: 36px;
}
.container #rate-El{
  color: hsl(25, 97%, 53%);
  justify-content: center;
  text-align: center;
}
h2{
  display: flex;
  justify-content: center;
  align-items: center;
}
#textcontainer{
  text-align: center; /* Centering text inside this container */
}
